{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="example-wrapper">
				<h1>Gestion des news
				</h1>
				<a href="/admin/create" class="btn btn-primary">Créer une actualité</a>
			</div>
			<div class="row">
				{% for news in news %}

					<div class="card col-3 mb-3">
						<div class="card-body">
							<h5 class="card-title">{{ news.title }}</h5>
							<h6 class="card-subtitle text-muted">{{news.slug}}</h6>
						</div>
						{% if news.filename %}

							<div class="card-body">
								<img src="/images/cover/{{ news.filename }}" class="img-fluid img-thumbnail" alt="">
							</div>

						{% else %}
							<svg xmlns="http://placehold.it" class="d-block user-select-none" width="100%" height="200" aria-label="Image de l'actualité" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
								<rect width="100%" height="100%" fill="#868e96"></rect>
								<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image de l'actualité</text>
							</svg>

						{% endif %}
						<div class="card-body">
							<a href="/admin/{{ news.id }}/edit" class="btn btn-warning card-link">Modifier</a>

							<a href="/admin/{{ news.id }}/delete" class="btn btn-danger card-link">Suppression</a>

						</div>
						<div class="card-footer text-muted">
							<p>
								Publié le :
								{{ news.publicationDate | date('d/m/Y') }}
							</p>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
